#projects {

    padding-top: 33px;
    padding-left: 731px;
    padding-bottom: 33px;
    padding-right: 648px;

}

#about {

    padding-top: 33px;
    padding-left: 824px;
    padding-bottom: 33px;
    padding-right: 570px;

}

#news {

    padding-top: 33px;
    padding-left: 902px;
    padding-bottom: 33px;
    padding-right: 498px;
}

#team {

    padding-top: 33px;
    padding-left: 974px;
    padding-bottom: 33px;
    padding-right: 422px;
}

#contact {

    padding-top: 33px;
    padding-left: 1050px;
    padding-bottom: 33px;
    padding-right: 326px;
}

/*1st-block*/
.maininfo {
    display: flex;
    height: 720px;
    width: 100%;
    top: 90px;
    margin: 0%;
    background-color: #ECE7E4;
}

/* logo первой страницы*/
.maininfo span.upper {
    height: 20px;
    left: 6.67%;
    right: 61.67%;
    top: calc(50% - 20px/2 - 213px);
}

h1 {

    width: 417px;
    height: 212px;
    padding: 177px 923px 331px 100px;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

.maininfo p {

    height: 120px;
    left: 6.67%;
    right: 8.5%;
    top: calc(50% - 120px/2 + 107px);
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;

}

.maininfo a {

    height: 46px;
    left: 6.67%;
    right: 71.17%;
    top: calc(50% - 46px/2 + 220px);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
}

.maininfo img {

    height: 720px;
    margin-left: 50%;
    top: 0%;
    right: 0%;
}

.ourfirm {
    display: flex;
    justify-content: center;
    height: 782px;
    width: 100%;
    background-color: #FFFFFF;

}

h2.ourfirm {

    height: 38px;
    left: 336px;
    right: 970px;
    top: 100px;
}

.firm {

    width: 502px;
}