.wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper>* {
    flex: 1 100%;
}

/*Шапка*/
header {
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: #FFFFFF;
    margin-top: 20px;
    align-items: baseline;
}


#logo {
    height: 20px;
    margin-right: 359px;
    margin-left: 152px;

}

.menu {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 140px;

}

button.template {
    height: 46px;
    width: 155px;
    margin-right: 140px;
    background: #1B1A1A;
    border-radius: 14px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

button.template:hover {
    background: #ECE7E4;
    border-radius: 14px;
}

button.template span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

/*подчеркивание меню*/
a:hover {
    text-decoration: underline;

}

/*Входной блок 1st-block*/
.maininfo {
    display: flex;
    height: 720px;
    width: 100%;
    background-color: #ECE7E4;
    justify-content: space-between;
}

.maininfo img {
    height: 720px;

}

.intro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 100px;

}

/*logo первого блока*/
.upper {
    height: 20px;
}






/*О фирме 2nd-block*/
.ourfirm {
    display: flex;
    justify-content: center;

    height: 782px;
    width: 100%;
    margin-top: 100px;
    background-color: #FFFFFF;

}

.firm {
    width: 502px;
    margin-left: 133px;
}

.firm p {
    padding-bottom: 10px;
}

.firm img {
    margin-top: 18px;
}

/*Фотка дома 3d-block*/
.reedinghouse {
    display: flex;
    height: 600px;
    background-size: cover;
    /*чтобы заполнялась на весь экран*/

}

.reedinghouse_text {
    margin-top: 266px;
    margin-left: 900px;
}

/*Процессы 4th-block*/

section.process {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 582px;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.process_stages {
    /*объединенные группы*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    margin-top: 40px;

}

.sketch,
.finalizing,
.building {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

}

/*Фотка с лестницей 4th-block*/

.marblestaircase {
    display: flex;
    height: 600px;
    background-size: cover;
}

.marblestaircase_text {
    margin-top: 266px;
    margin-left: 900px;

}

/*Клиенты 5th-block*/
.clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 410px;
    width: 100%;
    background-color: #403E3B;
}

.client_text {
    display: flex;
    flex-flow: column wrap;
    margin-left: 136px;

    align-content: center;
}

.clientslogo {
    display: flex;
    flex-flow: row;
    width: 432px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-right: 280px;
}

/*объединенные 1 группа логотпов*/
.clientslogo_firstset {

    display: flex;
    flex-flow: column;
    justify-content: space-between;

}

/*объединенные 2 группа логотпов*/
.clientslogo_secondset {

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/*размеры логотипов*/
#logoclient1 {

    width: 128px;
    height: 30px;
}

#logoclient2 {
    width: 128px;
    height: 20px;
}

#logoclient3 {
    width: 128px;
    height: 36px;

}

#logoclient4 {
    width: 128px;
    height: 78px;
}

/*белый текстовый блок*/
.clients .upper,
.clients h2,
.clients p {
    color: #FFFFFF;
}

/*Фотка 2 лестница 6th-block*/
.swirlingstaircase {
    display: flex;
    height: 600px;
    background-size: cover;
}

.swirlingstaircase_text {
    margin-top: 266px;
    margin-left: 60px;

}


/*Проекты 7th-block*/
.projects {
    display: flex;
    height: 918px;
    width: 100%;
    flex-flow: column;
    justify-content: flex-start;

    background-color: #F7F7F7;
}

.projects_text {
    margin-left: 136px;
}

.projects_cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1200px;
    height: 460px;
    margin-left: 136px;
    margin-top: 40px;


}

/*текст на второй карточке*/
.secondproject_text {
    margin-top: 40px;
    margin-left: 40px;
}

/*кнопка на второй карточке*/
button.newyork {
    width: 133px;
    height: 46px;
    background: #1B1A1A;
    border-radius: 14px;
    margin-top: 200px;
    margin-left: 45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;

}

#firstproject {

    height: 460px;
    width: 379px;

}

#secondproject {

    height: 460px;
    width: 379px;

}

#thirdproject {
    height: 460px;
    width: 379px;

}

/*кнопка смотреть больше проектов*/
button.projects {

    width: 180px;
    height: 46px;
    border: 0;
    margin-left: 533px;
    margin-top: 40px;
    padding: 11px 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #1B1A1A;

}

button.projects:hover {
    text-decoration: underline;
}

/*Команда 8-block*/
.team {
    display: flex;
    height: 593px;
    width: 100%;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 100px;
}

.team_text {
    margin-left: 136px;
}

.team_icons {
    display: flex;
    flex-flow: column wrap;
    width: 773px;
    height: 500px;
    margin-left: 40px;

}

.team_names {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.team_names_text {
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
    padding: 0;
    /*Не полчается слипить текстовые блоки*/

}

.team_names img {
    width: 84px;
    height: 84px;
}

/*На связи 9-block*/
.intouch {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 314px;
    background-color: #CEC4BC;
}

.intouch_text {
    margin-left: 136px;
}

#get_in_touch {
    margin-right: 136px;
}

/*Почему-то не считывается класс upper для span*/

footer {
    display: flex;
    height: 204px;
    justify-content: space-between;
    align-items: center;
}

.footer_logo_info {
    height: 84px;
    margin-left: 136px;
}

.footer_logo_info img {
    width: 220px;
    height: 19px;
}

.social {
    display: flex;
    width: 112px;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 136px;
}

a,
p,
h1,
h2,
h3,
h4 span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

h2 {
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

h3 {
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;

}

h4 {
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
}

p {
    height: 120px;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

span .upper {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

span .position {
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

a {
    height: 46px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
}